.header {
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5.6rem;

  &__container {
    margin: auto;
    display: grid;
    grid-template-columns: 8% 56% 36%;
    grid-column-gap: 0;
  }

  &__logo {
    @include main-logo;
    background-size: contain;
    background-position: center;
    height: 3.9rem;
    width: 6.4rem;
  }

  &__promo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 3.9rem;
    & > img {
      display: block;
      margin: 0;
      max-width: 100%;
      height: auto;
    }
  }
}
