//Font
$bold: 700;
$semibold: 500;
$regular: 400;
$font-primary: "Proxima Nova", -apple-system, Helvetica, Roboto, Arial,
  sans-serif;

//Font-size
$regular-font-size: 1.6rem;
$smal-font-size: 1.4rem;
$big-font-size: 1.8rem;
$small-title-size: 2.4rem;
$regular-title-size: 2.8rem;
$big-title-size: 4.6rem;

//Colors
$primary: #fff159;
$secondary: #3483fa;
$dark-1: #333333;
$dark-2: #e6e6e6;
$dark-3: #999999;
$dark-4: #eeeeee;

$light-1: #ffffff;
$accent: $secondary;
$accent-hover: #2968c8;
$accent-active: #1f4e96;

//Larges
$large: 100%;
$medium: 48%;
$small: 31%;
$maxwidth-containner: 1440px;
$maxwidth-inner-containner: 1200px;

//Breakpoints
$mobile-low: 320px !default;
$mobile: 580px !default;
$tablet: 760px !default;
$desktop: 1280px !default;

//RYTHMS
$global-rythm: 0.8rem;
$global-padding: 0 1.6rem;
$global-padding-mobile: 0 1.6rem;

//Box
$radius: 0.4rem;
